<% provide(:title, "Help") %>
<h1>Help</h1>
<p>  Get help on the Ruby on Rails Tutorial at the
  <a href="https://railstutorial.jp/help">Rails Tutorial help section</a>.
  To get help on this sample app, see the
  <a href="https://railstutorial.jp/#ebook"><em>Ruby on Rails Tutorial</em>
  book</a>.

  <div class="center">
    <h3>ログインにお使いください。</h3>
    <ul class="help-guide">
      <li>メールアドレス：example@railstutorial.org</li>
      <li>パスワード：foobar</li>
    </ul>
  </div>

</p>